body {
    margin: 0px;
    background-color: white;
}

p {
  size: 14px;
  color: #000;
  text-align: left; 
}

h1 {
  font-size: 32px; /* 200% */
}

h2 {
  font-size: 28px; /* 175% */
  text-align: center;
}

h3 {
  font-size: 24px; /* 150% */
  padding-left: 15px;
  text-align: left;
}

h4 {
  font-size: 20px; /* 125.0% */
}

h5 {
  font-size: 18px; /* 112.5% */
}

h6 {
  font-size: 16px; /* 100% */
}

img {
  max-width: 100%;
  height: auto;
}

* {
    box-sizing: border-box;
  }

  .menu {
    width: 25%;
    float: left;
  }
  .main {
    width: 75%;
    float: left;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
    text-align: center;
  }

  .col-4 {
    width: 33.33%;
    text-align: center;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 { width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
    text-align: center;
  }

  .col-12-footer {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgb(200, 200, 200);
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 0px solid red;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: #fff;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  }
  
  ul.topnav li {
    float: left;
  }
  
  ul.topnav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: #ccc;
  }
  
  ul.topnav li a.active {
    background-color: #ccc;
  }
  
  ul.topnav li.right {
    float: right;
  }

  ul.topnav li.active {
    background-color: #ccc;
    float: right;
  }
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

 
